.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.vscode/
.idea/
.env.*
assets/
etc/
node_modules/
ffmpeg-7.1.1-essentials_build/
csv_train.py
models/
ni/
*.mp3
jh/
dd/
dist/


output.mp3
voice.py
voices.txt
intent_model.pkl

# Ignore everything in assets
assets/*

# But allow Sakhi and Sevak folders inside assets/idle/
!assets/idle/
!assets/idle/Sakhi/
!assets/idle/Sevak/